# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/

# VSCode/IDE files
.vscode/
.idea/

# Django stuff
*.pot
*.pyc
db.sqlite3
*.py~

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
